<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Component</title>
    <link rel="stylesheet" href="css/styles.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <div id="app">

        <!-- <p>{{msg}}</p> -->

        <!-- <simple-counter></simple-counter> -->

        <hello></hello>




    </div>




     <script src="js/app.js"></script>

</body>
</html>
